@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
   
    width: 350px;
    height: 400px;
    padding: 20px;
    background-color: #222;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .weather-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  
  h1, h3 {
    color: white;
    font-size: 18px;
    margin: 5px 0;
  }
  
  input[name="search"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d1d8e0;
    font-size: 16px;
    outline: none;
    margin-top: 15px;
  }
  
  input[name="search"]:focus {
    border-color: #3498db;
  }
  
  input[name="search"]::placeholder {
    color: #7f8c8d;
  }
  
  h1 {
    font-size: 22px;
    color: white;
  }
  .temp-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  .temp-section > img{
    height: 50px;
    width: 50px;
  }
  
  .list{
    display: flex;
    gap: 5px;
    flex-direction: column;
    color: white
  }